<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body ng-app="indexApp">
<div class="container" ng-controller="indexAppCtrl">
    <div class="row">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="bg-danger" th:if="${param.error}">
                    Invalid username and secret.
                </div>
                <div class="bg-danger" th:if="${param.logout}">
                    You have been logged out.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">

                <h2 th:text="#{label.signin.title}" class="form-signin-heading">Sign In</h2>

                <form name='f' th:action="@{/index}" method='POST' class="form-signin">
                    <div class="form-group">
                        <label for="username" class="sr-only"><b>Username</b></label>
                        <input th:placeholder="#{label.signin.username}" name="username" id="username"
                               class="form-control" required="true" autofocus="true"></input>
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only"><b>Password</b></label>
                        <input th:placeholder="#{label.signin.password}" type="password" id="password"
                               name="password" class="form-control" required="true"></input>
                    </div>
                    <div class="form-group checkbox">
                        <label>
                            <input th:text="#{label.signin.rememberme}" type="checkbox" name="remember-me"></input>
                        </label>
                    </div>

                    <button th:text="#{label.signin.submit}" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>

                <a href="#" th:text="#{label.signin.forgotpassword}">Forgot my Password</a>
            </div>
        <div class="col-sm-4"></div>
    </div>
</div>

<div th:replace="common/header :: body-bottom-scripts"/>
<div th:replace="common/angular :: angular"></div>
<script type="text/javascript" src="../js/indexApp.js"
        th:src="@{/js/indexApp.js}"></script>
</body>
</html>